@use "variables" as v;

* { 
    box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: v.$font;
  background: v.$light-bg;
  color: v.$light-text;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
