@use "placeholders" as *;
@use "mixins" as m;
@use "variables" as v;
@use "sass:color";



.hero {
  @extend %card;

  .btn-primary {
    @include m.button("primary");
    &:hover {
      background: darken(v.$light-accent, 10%);
    }
  }
}

.hero {
  background: color.adjust(v.$light-bg, $lightness: -5%);
  border-radius: 16px;
  padding: 1.5rem;
}


.card {
  @extend %card;
}

.card {
  padding: 1.5rem;
  border-radius: 16px;
  background: color.adjust(v.$light-bg, $lightness: -5%);
  color: v.$light-text;
  box-shadow: 0 15px 35px rgba(0,0,0,.08);
}


.muted {
        color: lighten(v.$light-text, 25%);
}
