@use "placeholders" as *;
@use "mixins" as m;
@use "variables" as v;


.hero {
  @extend %card;

  .btn-primary {
    @include m.button("primary");
    &:hover {
      background: darken(v.$light-accent, 10%);
    }
  }
}

.card {
  @extend %card;
}

.card {
  padding: 1.5rem;
  border-radius: 16px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,.05);
}


.muted {
        color: lighten(v.$light-text, 25%);
}
