@use "placeholders" as *;
@use "mixins" as m;
@use "variables" as v;


.hero {
  @extend %card;

  .btn-primary {
    @include m.button("primary");
    &:hover {
      background: darken(v.$light-accent, 10%);
    }
  }
}

.card {
  @extend %card;
}

.muted {
        color: lighten(v.$light-text, 25%);
}
