@use "placeholders" as *;
@use "mixins" as m;
@use "variables" as v;
@use "sass:color";

.hero {
  @extend %card;
  background: color.adjust(v.$light-bg, $lightness: -5%);
  color: v.$light-text;
  padding: 1.5rem;
  border-radius: 16px;

  .btn-primary {
    @include m.button("primary");

    &:hover {
      background: color.adjust(v.$light-accent, $lightness: -10%);
    }
  }
}

.card {
  @extend %card;
  background: color.adjust(v.$light-bg, $lightness: -5%);
  color: v.$light-text;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0,0,0,.08);
}

.muted {
  color: color.adjust(v.$light-text, $lightness: 25%);
}
