@mixin button($variant: "primary") {
  padding: .75rem 1rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;

  @if $variant == "primary" {
    background: $light-accent;
    color: white;
  } @else {
    background: transparent;
    border: 1px solid #ccc;
  }
}
