@use "variables" as v;

@media (prefers-color-scheme: dark) {

  .nav-toggle {
    color: v.$dark-text;
    border-color: rgba(255,255,255,.10);
    background: rgba(255,255,255,.10);
  }

  .nav-toggle:hover {
    background: rgba(255,255,255,.18);
  }

  body {
    background: v.$dark-bg;
    color: v.$dark-text;
  }

  .header {
    background: v.$dark-bg;
    border-bottom-color: rgba(255,255,255,.12);
  }

  .nav {
    background: #12172a;
    border-color: rgba(255,255,255,.12);
  }

  .nav a {
    color: v.$dark-text;
  }

  .nav a:hover {
    background: rgba(255,255,255,.10);
  }

  .hero,
  .card {
    background: #1a1f33;   // mörkare kortbakgrund
    color: v.$dark-text;
  }

}

