@use "variables";
@use "mixins";
@use "placeholders";
@use "base";
@use "layout";
@use "components";
@use "themes";
@use "animations";


body {
  font-family: system-ui;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}




